<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HTTP Request Response</title>
    <script src="https://code.jquery.com/jquery..."></script>
  </head>
  <script type="text/javascript"> 
    function update(){
        for(var i =0 ; i < 16 ; i++){
        document.getElementById('img').src="http://pokeapi.co/media/sprites/pokemon/" + number +".png"
        
        }


    }
   </script>
  <body>
    <img src="http://pokeapi.co/media/sprites/pokemon/1.png" alt="pikachu"><!-- add http:// before the website name -->

  </body>
</html>