body{
    background-color:lightseagreen; 
}
h1{
    width: 300px;
    margin-right: auto;
    margin-left: auto;

}
table{
    margin-left: auto;
    margin-right:auto;
}
h2{ color:#2153ed;
    margin-right: 220px;
    margin-right: 100px;
}