<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses.css' %}">
    <title>| Courses |</title>
</head>
<body>
    
        <h1>Add a new course</h1>
        <form action="{%url 'create_course' %}" method=POST>
            {% csrf_token %}
            <label for="name">Name</label>
            <br>
            <input type="text" name='name'>
            {% if messages %} {% for message in messages %} {% if message.tags == 'name error' %}
                <p>{{ message }}</p>
                {% endif %} {% endfor %} {% endif %}
            <br><br>
            <label for="description">Description</label>
            <br>
            <input type="text" name='description'>
            {% if messages %} {% for message in messages %} {% if message.tags == 'description error' %}
            <p>{{ message }}</p>
            {% endif %} {% endfor %} {% endif %}
            <br><br>
            
            <button type="submit"> Add </button>
        </form>
  

    <div courses_table>
        <h1>Courses</h1>
        <table>
           
            <tr>
                <th>Course Name</th>
                <th>Description</th>
                <th>Date Added</th>
                <th>Actions</th>
            </tr>
           
            {% for course in courses %}
                <tr>
                    <td>{{course.name}}</td>
                    <td>{{course.description}}</td>
                    <td>{{course.created_at}}</td>
                    <td><a href="{% url 'delete_course' courseid=course.id %}">Remove</a></td>
                </tr>
            {% endfor%}
    </div>
</body>
</html>